.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: #444;
  color: #eee;

  .innerContainer {
    max-width: 1000px;
    padding: 0.5rem 1rem;
  }
}